@using WebApp.Models
@model DilOkulu_KursTipleri
@{
    ViewBag.Title = "Kurs Tipi Edit";
    Layout = "~/Areas/cms/Views/Shared/_CMSLayout.cshtml";
}
@{
    List<DilOkulu_KursKategorileri> kursKategorileri = null;
    if (ViewBag.KursKategorileri != null)
    {
        kursKategorileri = (List<DilOkulu_KursKategorileri>)ViewBag.KursKategorileri;
    }
}

@section HeaderWithContentPage{
    <link href="@Url.Content("~/Areas/cms/Assets/css/smoothness/jquery-ui-1.11.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Areas/cms/Assets/js/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/jquery-ui-1.11.4.js")"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/datepicker-tr.js")"></script>
    <script src="~/Areas/cms/Assets/js/dilokulu.js"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/fiyat_girisleri.js")"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script src="@Url.Content("~/Areas/cms/Assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js")"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/cms/Assets/fancybox/source/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Areas/cms/Assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5")"></script>

    <script type="text/javascript">
        $(function () {

            var ProcessStatus = '@Html.Raw(ViewBag.Status)';

            if (ProcessStatus == "ok") {
                GeneralObj.DilokuluMessageBox.init({ status: 'ok', message: 'Kayıt Güncellendi.' });
            } else if (ProcessStatus == "error") {
                GeneralObj.DilokuluMessageBox.init({ status: 'error', message: 'Hata: Kayıt Güncellenemedi!' });
            }

        })


    </script>
}


@section SectionBeforeWrapper{
    @Html.Partial("_Modals")
}


<div id="divStatusBox" style="">
    <span id="spanMessageText"></span>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td class="MasterRow3_Column1">
            @Html.Partial("_OkullarMunu")
        </td>

        <td class="MasterRow3_Column2">
            @Html.Action("_OkulOzetBilgileri")
            @Html.Partial("_FiyatMenu")
            <table cellpadding="0" cellspacing="0" class="OrtaMenu">
                <tr>
                    <td class="OrtaMenuRow">
                        @using (Html.BeginForm("KursTipiEdit", "OkulFiyatlari", new { id = Model.Id, okulId = Model.OkulId }, FormMethod.Post))
                        {
                            <table cellpadding="0" cellspacing="0" border="0" class="fiyatTable">
                                <tr>
                                    <td colspan="3">
                                        <img src="~/areas/CMS/assets/Images/edit_icon.png" style="width: 16px; height: 16px;" alt="Güncelle" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baslik">
                                        Kurs Kategorisi<span class="SpanZorunluAlan">*</span>
                                    </td>
                                    <td colspan="2">
                                        <select id="kursKategorisi" name="kursKategorisi" class="DropDownList">
                                            <option value="">Seçin...</option>
                                            @foreach (var item in kursKategorileri)
                                            {
                                                <option value="@item.Id" @(Model.KursKategoriId == item.Id ? "selected" : "")>@item.Baslik</option>
                                            }
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="baslik">Kurs Tipi<span class="SpanZorunluAlan">*</span></td>
                                    <td colspan="2">
                                        <input id="baslik" name="baslik" type="text" class="TextBox" style="width:300px;" value="@Model.Baslik" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baslik" style="vertical-align: top;">Başlangıç Tarihi</td>
                                    <td colspan="2" style="vertical-align: top;">
                                        @if (Convert.ToBoolean(Model.BasTarihiHerPazartesi))
                                        {
                                            <div class="TextBox">@Html.Raw("Her Pazartesi")</div>
                                        }
                                        else
                                        {
                                            <div class="TextBox">
                                                @foreach (var tarih in Model.OzelTarihListesi.Split('|'))
                                                {
                                                    @Html.Raw(tarih + "<br/>")
                                                }
                                            </div>
                                            <br />
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td class="baslik">
                                        Açıklama
                                    </td>
                                    <td colspan="2">
                                        <textarea id="kursTipiAciklama" name="kursTipiAciklama" type="text" class="TextBox" style="width: 300px; height: 60px;">@(Html.Raw(Model.Aciklama))</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="baslik" align="center">Yeni Tarih Tanımla</td>
                                </tr>
                                <tr>
                                    <td class="baslik">
                                        Yeni Başlangıç Tarihi
                                    </td>
                                    <td>
                                        <input id="kursTipiBasTarihHerPazartesi" class="kursTipiTarih" name="kursTipiTarih" value="herPazartesi" type="radio" />
                                        <label for="kursTipiBasTarihHerPazartesi">Her Pazartesi</label>
                                        <input id="kursTipiOzelTarih" class="kursTipiTarih" name="kursTipiTarih" value="ozel" type="radio" />
                                        <label for="kursTipiOzelTarih">Özel Tarih</label>

                                    </td>
                                    <td>
                                        <div id="divKursTipiOzelTarih" style="display: none;">
                                            ->
                                            <input id="kursTipiOzelTarihGiris" name="kursTipiOzelTarihGiris" class="TextBox" style="width: 60px;" type="text" />
                                            <input id="btnTarihEkle" type="button" value="Ekle" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="baslik">Özel Tarih Listesi</td>
                                    <td colspan="2">
                                        <div id="divOzelTarihListesi">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="okulId" name="okulId" type="hidden" value="@ViewBag.OkulId" />
                                        <input id="ozelTarihListesi" name="ozelTarihListesi" type="hidden" value="" />
                                        <input id="btnGuncelle" type="submit" value="Güncelle" />

                                    </td>
                                    <td colspan="2">
                                        <input id="btnGoBack" type="button" onclick="location='@Url.Action("KursTipi", "OkulFiyatlari", new { okulId = ViewBag.OkulId })    '" value="Kurs Tipi Liste Sayfasına Dön" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

<script type="text/javascript">
    $(function () {

        kursTipi.init();
        kursTipi.tarihGoster('kursTipiOzelTarihGiris');
    })

</script>
