@model List<WebApp.Models.DilOkulu_Slider>
<div id="homeSlider" class="clearfix flexslider">
    @if (Model != null && Model.Count > 0)
    {
        <div class="thumbs"></div>
        <ul class="slides">
            @foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.ResimThumbUrl))
                {
                    <li data-thumb="@Url.Content(item.ResimThumbUrl)">
                        <a href="@item.PageLink" title="@item.Baslik">
                            <img src="@Url.Content(item.ResimUrl)" alt="@item.Baslik">
                        </a>
                    </li>
                }
            }
        </ul>


        <ul class="captions">
            @foreach (var item in Model)
            {
                if (!string.IsNullOrEmpty(item.ResimThumbUrl))
                {
                    <li>
                        <h3>@item.Baslik</h3>
                        <p>@item.Ozet</p>
                    </li>
                }
            }
        </ul>
    }
</div>