<script type="text/javascript">
    //var ps1QOosid = "0uK0ewR5UJ2H";
    //function ps1QOoow() {
    //    var ps1QOool = true;
    //    if (ps1QOool || (1 == 1)) {
    //        var url = "http://messenger.providesupport.com/messenger/academix.html?ps_s=" + ps1QOosid + "";
    //        window.open(url, "_blank", "menubar=0,location=0,scrollbars=auto,resizable=1,status=0,width=500,height=460");
    //    } else if (1 == 2) {
    //        document.location = "http\u003a\u002f\u002f";
    //    }
    //}
</script>

<header>
    <div class="parentContainer">
        <div id="socialButtons">
            <a href="https://twitter.com/dilokulu_comtr" target="_blank" rel="nofollow" title="Twitter'da takip et">
                <div id="twtop"></div>
            </a>
            <a href="https://www.facebook.com/dilokulucomtr" target="_blank" rel="nofollow" title="Facebook'ta beğen">
                <div id="fbtop"></div>
            </a>
            <a href="@Url.Action("index","acenta")" title="ACENTA SAYFASI">ACENTALAR</a>
            <a href="@Url.Action("index","hakkimizda")" title="Hakkımızda">HAKKIMIZDA</a>
            @*<a href="javascript:;" onclick="ps1QOoow();" title="Canlı Destek" class="CanliDestekUst">CANLI DESTEK</a>*@

            @if (Request.Url.AbsoluteUri.ToLower() == "http://dilokulu.com.tr/" || Request.Url.AbsoluteUri.ToLower() == "http://www.dilokulu.com.tr/")
            {
                <h1><a href="http://dilokulu.com.tr/">YURTDIŞINDA DİL EĞİTİMİ</a></h1>
            }
        </div>
    </div>
    <div>
        <div id="menu">
            <section>
                <a href="@Url.Action("index", "home")" title="Yurtdışı Dil Okulları">
                    <img src="@Url.Content("~/assets/img/logo.png")" alt="Yurtdışı Dil Okulları">
                </a>
                <ul class="clearfix">
                    <li>
                        <h2> <a href="javascript:void(0)" title="yurtdışında dil okulları">YURTDIŞI DİL OKULLARI</a></h2>
                        <ul class="sub-menu sub-mmenukolon">

                            <div class="menukolon">
                                <li><a href="/ingiltere-dil-okullari" title="İngiltere dil okulları">İNGİLTERE</a></li>
                                <li><a href="/amerika-dil-okullari" title="Amerika dil okulları">AMERİKA</a></li>
                                <li><a href="/kanada-dil-okullari" title="Kanada dil okulları">KANADA</a></li>
                                <li><a href="/avustralya-dil-okullari" title="Avustralya dil okulları">AVUSTRALYA</a></li>
                                <li><a href="/yeni-zelanda-dil-okullari" title="Yeni Zelanda dil okulları">YENİ ZELANDA</a></li>
                                <li><a href="/irlanda-dil-okullari" title="İrlanda dil okulları">İRLANDA</a></li>
                                <li><a href="/malta-dil-okullari" title="Malta dil okulları">MALTA</a></li>
                                <li><a href="/guney-afrika-dil-okullari" title="Güney Afrika dil okulları">GÜNEY AFRİKA</a></li>
                            </div>

                            <div class="menukolon">
                                <li><a href="/ispanya-dil-okullari" title="İspanya dil okulları">İSPANYA</a></li>
                                <li><a href="/italya-dil-okullari" title="İtalya dil okulları">İTALYA</a></li>
                                <li><a href="/almanya-dil-okullari" title="Almanya dil okulları">ALMANYA</a></li>
                                <li><a href="/fransa-dil-okullari" title="Fransa dil okulları">FRANSA</a></li>
                                <li><a href="/rusya-dil-okullari" title="Rusya dil okulları">RUSYA</a></li>
                                <li><a href="/iskocya-dil-okullari" title="İskoçya dil okulları">İSKOÇYA</a></li>
                                <li><a href="/cin-dil-okullari" title="Çin dil okulları">ÇİN</a></li>
                                <li><a href="/japonya-dil-okullari" title="Japonya dil okulları">JAPONYA</a></li>
                            </div>

                            <div class="menukolon">
                                <li><a href="/portekiz-dil-okullari" title="Portekiz dil okulları">PORTEKİZ</a></li>
                                <li><a href="/avusturya-dil-okullari" title="Avusturya dil okulları">AVUSTURYA</a></li>
                                <li><a href="/brezilya-dil-okullari" title="Brezilya dil okulları">BREZİLYA</a></li>
                                <li><a href="/fas-dil-okullari" title="Fas dil okulları">FAS</a></li>
                                <li><a href="/arjantin-dil-okullari" title="Arjantin dil okulları">ARJANTİN</a></li>
                                <li><a href="/bolivya-dil-okullari" title="Bolivya dil okulları">BOLİVYA</a></li>
                                <li><a href="/sili-dil-okullari" title="Şili dil okulları">ŞİLİ</a></li>
                                <li><a href="/kosta-rika-dil-okullari" title="Kosta Rika dil okulları">KOSTA RİKA</a></li>
                            </div>

                            <div class="menukolon">
                                <li><a href="/kuba-dil-okullari" title="Küba dil okulları">KÜBA</a></li>
                                <li><a href="/ekvador-dil-okullari" title="Ekvador dil okulları">EKVADOR</a></li>
                                <li><a href="/guatemala-dil-okullari" title="Guatemala dil okulları">GUATEMALA</a></li>
                                <li><a href="/meksika-dil-okullari" title="Meksika dil okulları">MEKSİKA</a></li>
                                <li><a href="/peru-dil-okullari" title="Peru dil okulları">PERU</a></li>
                                <li><a href="/dominik-cumhuriyeti-dil-okullari" title="Dominik Cumhuriyeti dil okulları">DOMİNİK CUMHURİYETİ</a></li>
                                <li><a href="/kolombiya-dil-okullari" title="Kolombiya dil okulları">KOLOMBİYA</a></li>
                                <li><a href="#" title="#">&nbsp;</a></li>
                            </div>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="javascript:void(0)" title="yurtdışı dil eğitimi vizeleri">VİZE REHBERİ</a></h2>
                        @if (ViewBag.VizeRehberi != null)
                        {
                            List<WebApp.Models.GeneralListObject> rehber = (List<WebApp.Models.GeneralListObject>)ViewBag.VizeRehberi;
                            <ul class="sub-menu">
                                @foreach (var item in rehber)
                                {
                                    <li><a href="@Url.Action("detay", "VizeRehberi", new { title = item.Url})" title="@item.Baslik vize rehberi">@item.Baslik.ToUpper()</a></li>
                                }
                            </ul>
                        }
                    </li>
                    <li><h2><a href="@Url.Action("index","FiyatListesi")" title="yurtdışı dil okulu fiyatları">FİYAT LİSTELERİ</a></h2></li>
                    <li><h2><a href="@Url.Action("index","iletisim")" title="yurtdışı eğitim iletişim">İLETİŞİM</a></h2></li>
                    <li><a href="@Url.Action("index","BilgiIstekFormu")" id="bigiistekmenulink" title="Bilgi İstek Formu">BİLGİ İSTEK FORMU</a></li>

                </ul>
            </section>
        </div>

        <select class="selectnav" id="selectnav1">
            <option value="">--- MENÜ --- </option>

            <option value="/hakkimizda">HAKKIMIZDA</option>
            <option value="">DİL OKULLARI</option>
            <option value="/ingiltere-dil-okullari">- İNGİLTERE'DE DİL EĞİTİMİ</option>
            <option value="/amerika-dil-okullari">- AMERİKA'DA DİL EĞİTİMİ</option>
            <option value="/avustralya-dil-okullari">- AVUSTRALYA'DA DİL EĞİTİMİ</option>
            <option value="/malta-dil-okullari">- MALTA'DA DİL EĞİTİMİ</option>
            <option value="/irlanda-dil-okullari">- İRLANDA'DA DİL EĞİTİMİ</option>
            <option value="/kanada-dil-okullari">- KANADA'DA DİL EĞİTİMİ</option>

            <option value="">VİZE REHBERİ</option>
            <option value="/ingiltere-vize-rehberi">- İNGİLTERE</option>
            <option value="/amerika-vize-rehberi">- AMERİKA</option>
            <option value="/kanada-vize-rehberi">- KANADA</option>
            <option value="/avustralya-vize-rehberi">- AVUSTRALYA</option>
            <option value="/yeni-zelenda-vize-rehberi">- YENİ ZELENDA</option>
            <option value="/malta-vize-rehberi">- MALTA</option>
            <option value="/irlanda-vize-rehberi">- İRLANDA</option>
            <option value="/ispanya-vize-rehberi">- İSPANYA</option>
            <option value="/italya-vize-rehberi">- İTALYA</option>
            <option value="/almanya-vize-rehberi">- ALMANYA</option>

            <option value="/fiyat-listesi">FİYAT LİSTESİ</option>
            <option value="/DilTesti">ONLİNE DİL TESTİ</option>
            <option value="/bilgi-istek-formu">BİLGİ İSTEK FORMU</option>
            <option value="/iletisim">İLETİŞİM</option>
        </select>

        <script type="text/javascript">
            $(function () {
                $('.selectnav').change(function () {
                    var iterasyon = $.trim($(this).val());
                    if (iterasyon.length > 0) {
                        location = iterasyon;
                    }
                })
            })
        </script>

        <div id="tagline">
            <section><div>Yabancı Dil Seviyenizi Öğrenin! <a href="@Url.Action("index", "DilTesti")" title="yabancı dil seviye tespit sınavı"><strong>Online Dil Testi!</strong></a></div></section>
        </div>
        <div id="info">
            <section>
                <div>
                    <a href="@Url.Action("index","iletisim")" id="detaylibilgilink" title="yurtdışı dil okulları iletişim hattı">
                        <img src="@Url.Content("~/assets/img/phone.png")" alt="yurtdışı dil okulları iletişim hattı">
                        <h2>
                            0 212 249 94 89
                            <p>
                                YURTDIŞI DİLOKULLARI HAKKINDA<br>
                                BİLGİ ALMAK İÇİN HEMEN ARAYIN!
                            </p>
                        </h2>
                    </a>
                </div>
                <span class="element leftElement"></span><span class="triangle">triangle</span>
            </section>
        </div>
    </div>
</header>
