<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />İŞLEMLER
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("index", "diller")" class="Pasif">Diller Listesi</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("yeni", "diller")" class="Pasif">Yeni Dil</a>
        </td>
    </tr>
</table>
