<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />ANA SAYFA
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("AnasayfaSeo", "sayfalar")" class="Pasif">Anasayfa Seo</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("index", "slider")" class="Pasif">Anasayfa Slider Listesi</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("yeni", "slider")" class="Pasif">Anasayfa Yeni Slider</a>
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />ŞUBELER
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("index", "sube")" class="Pasif">Şube İşlemleri</a>
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />STATİK SAYFALAR
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("hakkimizda", "sayfalar")" class="Pasif">Hakkımızda</a>
        </td>
    </tr>
    @*<tr>
            <td class="YanMenuRow">
                <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
                <a href="@Url.Action("iletisim", "sayfalar")" class="Pasif">İletişim</a>
            </td>
        </tr>*@
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("acenta", "sayfalar")" class="Pasif">Acenta Sayfası</a>
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />STATİK LİNKLER
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("StatikLinkler", "sayfalar")" class="Pasif">Anasayfa Linkleri</a>
        </td>
    </tr>

</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />SUNULAN PROGRAMLAR
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("kategoriler", "SunulanProgramlar")" class="Pasif">Diller</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("yenikategori", "SunulanProgramlar")" class="Pasif">+ Yeni Dil</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("index", "SunulanProgramlar")" class="Pasif">Programlar</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("yeni", "SunulanProgramlar")" class="Pasif">+ Yeni Program</a>
        </td>
    </tr>

</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />BANNERLAR
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("Banner300x350", "Banners")" class="Pasif">Banner300x350</a>
        </td>
    </tr>

</table>

<table cellpadding="0" cellspacing="0" class="YanMenu">
    <tr>
        <td class="YanMenuRowTitle">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/g-settings.png")" style="width: 18px; height: 18px" align="absmiddle" />KATEGORİLER
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("KursKategorileri", "kategoriler")" class="Pasif">Kurs Kategorileri</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("YeniKursKategorisi", "kategoriler")" class="Pasif">+ Yeni Kurs Kategorisi</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("KonaklamaKategorileri", "kategoriler")" class="Pasif">Konaklama Kategorileri</a>
        </td>
    </tr>
    <tr>
        <td class="YanMenuRow">
            <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/point.jpg")" style="width: 9px; height: 9px" align="absmiddle" />
            <a href="@Url.Action("YeniKonaklamaKategorisi", "kategoriler")" class="Pasif">+ Yeni Konaklama Kategorisi</a>
        </td>
    </tr>
</table>