@{
    ViewBag.Title = "Yurtdışında Dil Eğitimi - Yurtdışı Eğitim";
}

@section beforeMainLayout{

    <!--slider-->
    <section class="slider clearfix">
        <div id="sequence">
            <ul class="sequence-canvas">
                <li>
                    <div class="info animate-in">
                        <h2>Last minute Winter escapes</h2><br />
                        <p>January 2013 holidays 40% off! An unique opportunity to realize your dreams</p>
                    </div>
                    <img class="main-image animate-in" src="@Url.Content("~/assets/images/slider/img1.jpg")" alt="" />
                </li>
                <li>
                    <div class="info animate-in">
                        <h2>Check out our top weekly deals</h2><br />
                        <p>Save Now. Book Later.</p>
                    </div>
                    <img class="main-image animate-in" src="@Url.Content("~/assets/images/slider/img2.jpg")" alt="" />
                </li>
                <li>
                    <div class="info animate-in">
                        <h2>Check out last minute flight, hotel &amp; vacation offers!</h2><br />
                        <p>Save up to 50%!</p>
                    </div>
                    <img class="main-image animate-in" src="@Url.Content("~/assets/images/slider/img3.jpg")" alt="" />
                </li>
            </ul>
        </div>
    </section>
    <!--//slider-->
    <!--search-->
    @Html.Partial("_HomePageSearch")

}

<!--popüper destinasyonlar-->
<section class="offers clearfix full">
    <h1>POPÜLER DESTİNASYONLAR</h1>

    <!--column-->
    <article class="one-fourth">
        <figure><a href="#" title=""><img src="@Url.Content("~/assets/images/uploads/newyork.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">
            <h4>NEW YORK</h4>
            <p>1500 USD'den başlayan fiyatlar!</p>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <figure><a href="#" title=""><img src="@Url.Content("~/assets/images/uploads/amerika.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">
            <h4>AMERİKA</h4>
            <p>1500 USD'den başlayan fiyatlar!</p>
            <a href="#" title="More info" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <figure><a href="#" title=""><img src="@Url.Content("~/assets/images/uploads/newyork.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">
            <h4>NEW YORK</h4>
            <p>1500 USD'den başlayan fiyatlar!</p>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth last">
        <figure><a href="#" title=""><img src="@Url.Content("~/assets/images/uploads/amerika.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">
            <h4>AMERİKA</h4>
            <p>1500 USD'den başlayan fiyatlar!</p>
            <a href="#" title="More info" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->


</section>
<!--popüper destinasyonlar-->
<!--popüler dil okulları-->

<section class="destinations clearfix full">
    <h1>POPÜLER DİL OKULLARI</h1>

    <!--column-->
    <article class="one-fourth">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul1.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul3.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth ">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul4.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth last">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul1.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->


</section>

<!--popüler dil okulları-->
<!--promosyonlu dil okulları-->

<section class="destinations clearfix full">
    <h1>PROMOSYONLU DİL OKULLARI</h1>

    <!--column-->
    <article class="one-fourth">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul1.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul3.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul4.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth last">
        <figure><a href="" title=""><img src="@Url.Content("~/assets/images/uploads/okul1.jpg")" alt="" width="270" height="152" /></a></figure>
        <div class="details">

            <a href="#"> <h5>KAPLAN INTERNATIONAL</h5></a>
            <a href="#"> <span class="count">New York</span></a>
            <div class="ribbon">
                <div class="half ">
                    <a href="#" title="">
                        <i class="fa fa-calendar"></i>
                        <div class="iconright">
                            <span class="small">Hafta Sayısı</span>
                            <span class="price">70 Hafta</span>
                        </div>
                    </a>
                </div>
                <div class="half2">
                    <a href="#" title="">
                        <i class="fa fa-money"></i>
                        <div class="iconright">
                            <span class="small">Fiyat</span>
                            <span class="price">10.050 USD</span>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" title="" class="gradient-button">DETAYLI BİLGİ</a>
        </div>
    </article>
    <!--//column-->


</section>

<!--promosyonlu dil okulları-->

<section class="boxes clearfix">


    <!--column-->
    <article class="one-fourth">
        <h2>Makaleler</h2>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/makale.jpg")" />
                <h3>Yurtdışı Dil Eğitimi Merkez Seçimi</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/makale.jpg")" />
                <h3>Yabancı Dil Öğrenme Süreci</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/makale.jpg")" />
                <h3>Yurtdışı Dil Eğitimi Merkez Seçimi</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>
    </article>
    <!--//column-->
    <!--column-->
    <article class="one-fourth">
        <h2>Öğrenci Yorumları</h2>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/ogrenci.jpg")" />
                <h3>Yurtdışı Dil Eğitimi Merkez Seçimi</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/ogrenci.jpg")" />
                <h3>Yabancı Dil Öğrenme Süreci</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>

        <div class="satirlar">
            <a href="#">
                <img src="@Url.Content("~/assets/images/uploads/ogrenci.jpg")" />
                <h3>Yurtdışı Dil Eğitimi Merkez Seçimi</h3>
                <p>Dünya tek dil konuşmaya doğru gidiyor konuşmaya Dünya tek dil konuşmaya doğru gidiyor.Dünya tek dil konuşmaya doğru gidiyor.</p>
            </a>
        </div>



    </article>
    <!--//column-->
    <!--column-->
    <article class="fbbox">

        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdilokulucomtr&amp;width=200&amp;height=420&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=228197437216572" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:101%; height:322px; margin:-1px 0 15px -1px;" allowtransparency="true"></iframe>

    </article>
    <!--//column-->



</section>


<!--//info boxes-->
@section scripts{
    <script type="text/javascript">
        $(function () {
            mainSearchTool.diller();
        });
    </script>
}