@model WebApp.Models.DilOkulu_VizeRehberi

@{
    string seo_Keywords = "";
    string seo_Descriptions = "";

    if (Model != null)
    {
        seo_Descriptions = Model.Seo_Descriptions;
        seo_Keywords = Model.Seo_Keywords;
    }
}

@{
    ViewBag.Title =Model.Baslik+ " Dil Okulu Öğrenci Vizesi | Dilokulu.com.tr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <meta name="keywords" content="@seo_Keywords" />
    <meta name="description" content="@seo_Descriptions" />
}

@section PageTitle{
    <div class="topImg clearfix">
        <img src="@Url.Content("~/Assets/img/headers/header_2.jpg")" alt="Vize Rehberi" />
        <h1><p><strong>@Model.Baslik Vize Rehberi</strong></p></h1>
    </div>
}

@if (Model != null)
{
    <div class="blog column c-67 clearfix">

        <div class="box detaybox">
            <div class="boxInfo examInfo">
                <ul class="breadcrumb">
                    <li class="exm"><a href="@Url.Action("index","home")">Anasayfa</a></li>
                    <li class="exm">></li>
                    <li class="exm">@Model.Baslik Vize Rehberi</li>
                </ul>
                <div>
                    @if (!string.IsNullOrEmpty(Model.ResimUrl))
                    {
                        <img class="fwidth2" src="@Url.Content(Model.ResimUrl)" alt="@Model.Baslik">
                    }
                    <p>
                        @Html.Raw(Model.Icerik)
                    </p>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("_RightColumn")

}
