@model WebApp.Models.DilOkulu_Makaleler
@{
    string pageTitle ="";
    string seo_Keywords = "";
    string seo_Descriptions = "";

    if (Model != null)
    {
        pageTitle = Model.Baslik + " | Dilokulu.com.tr";
        seo_Descriptions = Model.Seo_Descriptions;
        seo_Keywords = Model.Seo_Keywords;
    }

}
@{
    ViewBag.Title = pageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <meta name="keywords" content="@seo_Keywords" />
    <meta name="description" content="@seo_Descriptions" />
}

@section PageTitle{
    <div class="topImg clearfix">
        <img src="@Url.Content("~/Assets/img/headers/header_2.jpg")" alt="Makaleler" />
        <p><strong>Makaleler</strong></p>
    </div>
}

@if (Model != null)
{
    <div class="blog column c-67 clearfix">

        <div class="box">
            <h4>@Model.Baslik</h4>
            <div class="boxInfo examInfo">
                <ul class="breadcrumb">
                    <li class="exm"><a href="@Url.Action("index","home")">Anasayfa</a></li>
                    <li class="exm">></li>
                    <li class="exm"><a href="@Url.Action("index", "makaleler")">Makaleler</a></li>
                    <li class="exm">></li>
                    <li class="exm"><a href="@Url.Action("detay", "makaleler", new { title = Model.Url })">@Model.Baslik</a></li>
                </ul>
                <div>
                    @if (!string.IsNullOrEmpty(Model.ResimUrl))
                    {
                        <img class="fwidth2" src="@Url.Content(Model.ResimUrl)" alt="@Model.Baslik">
                    }
                    <p>
                        @Html.Raw(Model.Icerik)
                    </p>
                </div>
                <ul style="font-size: 13px; font-weight: 700;">
                    <li class="proExm">@Model.DilOkulu_Yazarlar.AdSoyad</li>
                    @if (Model.DilOkulu_Yazarlar.YazarTipi == "danisman")
                    {
                        <li class="exm">@Model.DilOkulu_Yazarlar.Pozisyon</li>
                        <li class="exm"><a href="mailto:@Model.DilOkulu_Yazarlar.EPosta">@Model.DilOkulu_Yazarlar.EPosta</a></li>
                        <li class="exm">@Model.DilOkulu_Yazarlar.Telefon</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_RightColumn")
}

