@model List<WebApp.Models.DilOkulu_KonaklamaTipleri>
@{
    ViewBag.Title = "Konaklama Tiplari";
    Layout = "~/Areas/cms/Views/Shared/_CMSLayout.cshtml";
}

@section HeaderWithContentPage{
    <link href="@Url.Content("~/Areas/cms/Assets/css/smoothness/jquery-ui-1.11.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Areas/cms/Assets/js/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/jquery-ui-1.11.4.js")"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/datepicker-tr.js")"></script>
    <script src="~/Areas/cms/Assets/js/dilokulu.js"></script>
    <script src="@Url.Content("~/Areas/cms/Assets/js/konaklama_girisleri.js")"></script>
}


@section SectionBeforeWrapper{
    @Html.Partial("_Modals")
}


<div id="divStatusBox" style="">
    <span id="spanMessageText"></span>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td class="MasterRow3_Column1">
            @Html.Partial("_OkullarMunu")
        </td>

        <td class="MasterRow3_Column2">
            @Html.Action("_OkulOzetBilgileri")
            @Html.Partial("_KonaklamaMenu")
            @Html.Partial("_KonaklamaTipiEkle")

            <!--Konaklama Tipi Listesi-->

            <table id="hor-zebra" class="tblFiyatListesi" style="width: 780px; margin: 0px;">
                <caption>
                    <div style="font-size:15px;">
                        <strong>Konaklama Tipi Tistesi</strong>
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Kategori</th>
                        <th>Konaklama Tipi</th>
                        <th>Başlangıç Tarihleri</th>
                        <th>Açıklama</th>
                        <th colspan="2"><input id="Button1" type="button" onclick="konaklamaTipi.tumKonaklamaTipiListesiniSil();" value="Tüm Fiyat Listesini Sil" /></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null && Model != null && Model.Count > 0)
                    {
                        int Counter = 2;
                        foreach (var item in Model)
                        {
                            <tr class="fieldset" @(Counter % 2 == 0 ? "class=odd" : "")>
                                <td valign="top">@item.DilOkulu_KonaklamaKategorileri.Baslik <input id="hfId" value="@item.Id" type="hidden" /></td>
                                <td valign="top">
                                    @item.Baslik
                                </td>
                                <td valign="top">
                                    @if (Convert.ToBoolean(item.BasTarihiYilBoyu))
                                    {
                                    @Html.Raw("Yıl Boyu")
                                    }
                                    else
                                    {
                                        foreach (var tarih in item.OzelTarihListesi.Split('|'))
                                        {
                                    @Html.Raw(tarih + "<br/>")
                                        }
                                    }
                                </td>
                                <td valign="top">
                                    <div style="max-width:200px;">
                                        @Html.Raw(item.Aciklama)
                                    </div>
                                </td>
                                <td valign="top">
                                    <div style="line-height:20px;">
                                        <a href="@Url.Action("FiyatTanimlari", "KonaklamaFiyatlari", new { okulId = item.OkulId, konaklamaTipiId = item.Id })">Fiyatlar</a><br />
                                        <a href="@Url.Action("PromosyonTanimlari", "KonaklamaFiyatlari", new { okulId = item.OkulId, konaklamaTipiId = item.Id })">Promosyonlar</a>
                                    </div>
                                </td>
                                <td>
                                    <a href="@Url.Action("KonaklamaTipiEdit", "KonaklamaFiyatlari", new { id = item.Id, okulId = item.OkulId })">
                                        <img src="~/areas/CMS/assets/Images/edit_icon.png" style="width: 16px; height: 16px;" alt="Güncelle" />
                                    </a>
                                    <img src="/areas/CMS/assets/Images/delete_icon.png" onclick="konaklamaTipi.konaklamaTipiSil(@item.Id);" style="width: 16px; height: 16px;cursor:pointer;">
                                </td>
                            </tr>
                                    Counter++;
                        }
                    }
                    else
                    {
                        @*<tr><td colspan="3"><strong>Kayıt bulunamadı...</strong></td></tr>*@
                    }
                </tbody>
            </table>
        </td>
    </tr>

</table>

<script type="text/javascript">
    $(function () {

        konaklamaTipi.init();
        //konaklamaTipi.tarihGoster('konaklamaTipiOzelTarihGiris');
        //konaklamaTipi.tarihGoster('konaklamaTipiOzelTarihBitis');
        konaklamaTipi.tarihGosterRange('konaklamaTipiOzelTarihGiris', 'konaklamaTipiOzelTarihBitis');

    })

</script>