@model WebApp.Models.DilOkulu_Yazarlar
@{
    ViewBag.Title = "Yazar Detay | dilokulu cms";
    Layout = "~/Areas/cms/Views/Shared/_CMSLayout.cshtml";
}


@section HeaderWithContentPage{
    <script src="~/Areas/cms/Assets/js/dilokulu.js"></script>
    <script type="text/javascript">
        $(function () {

            var ProcessStatus = '@Html.Raw(ViewBag.Status)';

            if (ProcessStatus == "ok") {
                GeneralObj.DilokuluMessageBox.init({ status: 'ok', message: 'Kayıt güncellendi.' });
            } else if (ProcessStatus == "err") {
                GeneralObj.DilokuluMessageBox.init({ status: 'error', message: 'Bir hata oluştu. Daha sonra tekrar deneyin.' });
            }

            $('#btnSave').click(function () {
                Loader();

                $("html, body").animate({ scrollTop: "0px" });

                var ErrorCount = 0;
                var ErrorMessage = "";

                var adSoyad = $('#AdSoyad').val();
                var yazarTipi = $('#YazarTipi').val();

                if ($.trim(adSoyad).length == 0) {
                    ErrorCount++;
                    ErrorMessage += "Ad-Soyad alanı boş olamaz!<br/>";
                }


                if (yazarTipi == "0") {
                    ErrorCount++;
                    ErrorMessage += "Yazar tipi alanı boş olamaz!";
                }

                if (ErrorCount > 0) {

                    GeneralObj.DilokuluMessageBox.init({ status: 'error', message: ErrorMessage });
                    closeModal();
                } else {
                    $('#submit').trigger("click");
                }

                return false;
            })
        })
    </script>
}

@section SectionBeforeWrapper{
    @Html.Partial("_Modals")

}

<div id="divStatusBox" style="">
    <span id="spanMessageText"></span>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td class="MasterRow3_Column1">
            @Html.Partial("_YazarlarMunu")
        </td>
        <td class="MasterRow3_Column2">

            <table cellpadding="0" cellspacing="0" class="OrtaMenu">
                <tr>
                    <td class="OrtaMenuRowTitle">
                        <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/b-settings.png")" style="width: 18px; height: 18px"
                            align="absmiddle" />Yeni Yazar
                    </td>
                </tr>
                <tr>
                    <td class="OrtaMenuRow">
                        @using (Html.BeginForm("detay", "yazar", FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
                        {                                                     
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td class="OrtaMenuRowC1">
                                        Resim
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        @if (!string.IsNullOrEmpty(Model.ResimUrl))
                                        {
                                              <img alt="" src="@Url.Content(Model.ResimUrl)" />
                                        }
                                      
                                        <p>
                                            <input type="file" name="file" id="file" class="TextBox" accept="image/png, image/gif, image/jpeg, image/png" style="width: 300px;" />
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">Yazar Tipi Seçin<span class="SpanZorunluAlan">*</span>
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <select name="YazarTipi" id="YazarTipi" class="DropDownList">
                                            <option value="0">Seçin..</option>
                                            <option value="danisman" @(Model.YazarTipi == "danisman" ? "selected" : "")>Danışman</option>
                                            <option value="ogrenci" @(Model.YazarTipi == "ogrenci" ? "selected" : "")>Öğrenci</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">Ad Soyad<span class="SpanZorunluAlan">*</span>
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <input class="TextBox" id="AdSoyad" maxlength="40" value="@Model.AdSoyad" name="AdSoyad" style="width: 300px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">
                                        Pozisyon
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <input class="TextBox" id="Pozisyon" maxlength="40" value="@Model.Pozisyon" name="Pozisyon" style="width: 300px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">
                                        E-Posta
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <input class="TextBox" id="EPosta" maxlength="40" value="@Model.EPosta" name="EPosta" style="width: 300px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">
                                        Telefon
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <input class="TextBox" id="Telefon" maxlength="40" value="@Model.Telefon" name="Telefon" style="width: 300px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">Açıklama
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <textarea cols="60" rows="5" style="width: 300px;" maxlength="900" name="Aciklama" id="Aciklama" class="adminRichText">@Model.Aciklama</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1">Yayın durumu?
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <select id="selectDurum" name="selectDurum" class="DropDownList">
                                            <option value="1" @(Model.Durumu == 1 ? "selected" : "")>Evet</option>
                                            <option value="0" @(Model.Durumu == 0 ? "selected" : "")>Hayır</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="OrtaMenuRowC1" style="border: none;">&nbsp;
                                    </td>
                                    <td class="OrtaMenuRowC2" style="border: none;">
                                        <div class="error validation-summary-errors" style="display: none; padding: 5px;">
                                        </div>
                                        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
                                        <input id="btnSave" type="submit" value="Kaydet" style="" />
                                        <input id="submit" type="submit" value="Kaydet" style="display: none" />
                                    </td>
                                </tr>
                            </table>
                            <i><strong>Not: (<span class="SpanZorunluAlan">*</span> ) alanlar zorunludur!</strong></i>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
