@model List<WebApp.Models.DilOkulu_Yazarlar> 
@{
    ViewBag.Title = "Yazarlar | dilokulu cms";
    Layout = "~/Areas/cms/Views/Shared/_CMSLayout.cshtml";
}

<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td class="MasterRow3_Column1">
            @Html.Partial("_YazarlarMunu")
        </td>
        <td class="MasterRow3_Column2">
            <table cellpadding="0" cellspacing="0" class="OrtaMenu">
                <tr>
                    <td class="OrtaMenuRowTitle">
                        <img src="@Url.Content("~/areas/CMS/assets/Images/Genel/b-settings.png")" style="width: 18px; height: 18px"
                            align="absmiddle" />Yazarlar Listesi
                    </td>
                </tr>
                <tr>
                    <td class="OrtaMenuRow">
                        @using (Html.BeginForm("index", "yazar", FormMethod.Post, new { id = "form1" }))
                        {
                            <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                <tr>
                                    <td class="OrtaMenuRowC1">Yazar Tipi Seçin
                                    </td>
                                    <td class="OrtaMenuRowC2">
                                        <select name="YazarTipi" id="YazarTipi" class="DropDownList">
                                            <option value="0">Seçin..</option>
                                            <option value="danisman">Danışman</option>
                                            <option value="ogrenci">Öğrenci</option>
                                        </select>
                                        <input id="btnListele" type="submit" class="Button" value="Listele" style="width: 50px;" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="OrtaMenuRow">
                        @if (Model != null && Model.Count > 0)
                        {
                            <table id="hor-zebra" style="width: 780px; margin: 0px;">
                                <thead>
                                    <tr>
                                        <th scope="col">YAZAR
                                        </th>
                                        @*<th scope="col">ÖNCELİK</th>*@
                                        <th scope="col">YAZAR TİPİ
                                        </th>
                                        <th scope="col">DURUMU
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int Counter = 2;}
                                    @foreach (var item in Model)
                                    {                                                                              
                                        <tr @(Counter % 2 == 0 ? "class=odd" : "")>
                                            <td>
                                                <a href="@Url.Action("detay", "yazar", new { @id = item.Id })">@item.AdSoyad</a>
                                            </td>
                                            @*<td>@item.Oncelik</td>*@
                                            <td>
                                                @if (item.YazarTipi == "ogrenci")
                                                { 
                                                   <span>Öğrenci</span>
                                                }
                                                else
                                                {
                                                    <span>Akademix</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Durumu == 1)
                                                { 
                                                    <img src="@Url.Content("~/areas/CMS/assets/Images/ok.png")" style="width: 16px; height: 16px;cursor:pointer;" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/areas/CMS/assets/Images/delete_icon.png")" style="width: 16px; height: 16px;cursor:pointer;"/>
                                                }
                                            </td>
                                        </tr>
                                                Counter++;
                                    }   
                                </tbody>
                            </table>
                            <div class="pager">
                            </div>
                        }
                        else
                        {
                            <span><strong>@ViewBag.Status</strong></span>
                        }
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
